### Data Source

https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/ -- csv files picked up 
https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ncdc:C00510 -- Storm Event Database
https://www.kaggle.com/datasets/landfallmotto/billiondollar-weather-and-climate-disasters/data -- Aggregate Database from Kaggle
https://www.ncei.noaa.gov/access/billions/ -- nooa article

### Datasets

In [98]:
import pandas as pd

In [99]:
df1=pd.read_csv('StormEvents_details-ftp_v1.0_d1950_c20210803.csv',low_memory=False)

In [100]:
df2=pd.read_csv('StormEvents_details-ftp_v1.0_d1951_c20210803.csv',low_memory=False)

In [101]:
df3=pd.read_csv('StormEvents_details-ftp_v1.0_d1952_c20210803.csv',low_memory=False)

In [102]:
df4=pd.read_csv('StormEvents_details-ftp_v1.0_d1953_c20210803.csv',low_memory=False)

In [103]:
df5=pd.read_csv('StormEvents_details-ftp_v1.0_d1954_c20210803.csv',low_memory=False)

In [104]:
df6=pd.read_csv('StormEvents_details-ftp_v1.0_d1955_c20210803.csv',low_memory=False)

In [105]:
df7=pd.read_csv('StormEvents_details-ftp_v1.0_d1956_c20210803.csv',low_memory=False)

In [106]:
df8=pd.read_csv('StormEvents_details-ftp_v1.0_d1957_c20210803.csv',low_memory=False)

In [107]:
df9=pd.read_csv('StormEvents_details-ftp_v1.0_d1958_c20210803.csv',low_memory=False)

In [108]:
df10=pd.read_csv('StormEvents_details-ftp_v1.0_d1959_c20210803.csv',low_memory=False)

In [109]:
df11=pd.read_csv('StormEvents_details-ftp_v1.0_d1960_c20210803.csv',low_memory=False)

In [110]:
df12=pd.read_csv('StormEvents_details-ftp_v1.0_d1961_c20210803.csv',low_memory=False)

In [111]:
df13=pd.read_csv('StormEvents_details-ftp_v1.0_d1962_c20210803.csv',low_memory=False)

In [112]:
df14=pd.read_csv('StormEvents_details-ftp_v1.0_d1963_c20210803.csv',low_memory=False)

In [113]:
df15=pd.read_csv('StormEvents_details-ftp_v1.0_d1964_c20210803.csv',low_memory=False)

In [114]:
df16=pd.read_csv('StormEvents_details-ftp_v1.0_d1965_c20210803.csv',low_memory=False)

In [115]:
df17=pd.read_csv('StormEvents_details-ftp_v1.0_d1966_c20210803.csv',low_memory=False)

In [116]:
df18=pd.read_csv('StormEvents_details-ftp_v1.0_d1967_c20210803.csv',low_memory=False)

In [117]:
df19=pd.read_csv('StormEvents_details-ftp_v1.0_d1968_c20210803.csv',low_memory=False)

In [118]:
df20=pd.read_csv('StormEvents_details-ftp_v1.0_d1969_c20210803.csv',low_memory=False)

In [119]:
df21=pd.read_csv('StormEvents_details-ftp_v1.0_d1970_c20210803.csv',low_memory=False)

In [120]:
df22=pd.read_csv('StormEvents_details-ftp_v1.0_d1971_c20210803.csv',low_memory=False)

In [121]:
df23=pd.read_csv('StormEvents_details-ftp_v1.0_d1972_c20220425.csv',low_memory=False)

In [122]:
df24=pd.read_csv('StormEvents_details-ftp_v1.0_d1973_c20220425.csv',low_memory=False)

In [123]:
df25=pd.read_csv('StormEvents_details-ftp_v1.0_d1974_c20220425.csv',low_memory=False)

In [124]:
df26=pd.read_csv('StormEvents_details-ftp_v1.0_d1975_c20220425.csv',low_memory=False)

In [125]:
df27=pd.read_csv('StormEvents_details-ftp_v1.0_d1976_c20220425.csv',low_memory=False)

In [126]:
df28=pd.read_csv('StormEvents_details-ftp_v1.0_d1977_c20220425.csv',low_memory=False)

In [127]:
df29=pd.read_csv('StormEvents_details-ftp_v1.0_d1978_c20220425.csv',low_memory=False)

In [128]:
df30=pd.read_csv('StormEvents_details-ftp_v1.0_d1979_c20220425.csv',low_memory=False)

In [129]:
df31=pd.read_csv('StormEvents_details-ftp_v1.0_d1980_c20220425.csv',low_memory=False)

In [130]:
df32=pd.read_csv('StormEvents_details-ftp_v1.0_d1981_c20220425.csv',low_memory=False)

In [131]:
df33=pd.read_csv('StormEvents_details-ftp_v1.0_d1982_c20220425.csv',low_memory=False)

In [132]:
df34=pd.read_csv('StormEvents_details-ftp_v1.0_d1983_c20220425.csv',low_memory=False)

In [133]:
df35=pd.read_csv('StormEvents_details-ftp_v1.0_d1984_c20220425.csv',low_memory=False)

In [134]:
df36=pd.read_csv('StormEvents_details-ftp_v1.0_d1985_c20220425.csv',low_memory=False)

In [135]:
df37=pd.read_csv('StormEvents_details-ftp_v1.0_d1986_c20220425.csv',low_memory=False)

In [136]:
df38=pd.read_csv('StormEvents_details-ftp_v1.0_d1987_c20220425.csv',low_memory=False)

In [137]:
df39=pd.read_csv('StormEvents_details-ftp_v1.0_d1988_c20220425.csv',low_memory=False)

In [138]:
df40=pd.read_csv('StormEvents_details-ftp_v1.0_d1989_c20220425.csv',low_memory=False)

In [139]:
df41=pd.read_csv('StormEvents_details-ftp_v1.0_d1990_c20220425.csv',low_memory=False)

In [140]:
df42=pd.read_csv('StormEvents_details-ftp_v1.0_d1991_c20220425.csv',low_memory=False)

In [141]:
df43=pd.read_csv('StormEvents_details-ftp_v1.0_d1992_c20220425.csv',low_memory=False)

In [142]:
df44=pd.read_csv('StormEvents_details-ftp_v1.0_d1993_c20220425.csv',low_memory=False)

In [143]:
df45=pd.read_csv('StormEvents_details-ftp_v1.0_d1994_c20220425.csv',low_memory=False)

In [144]:
df46=pd.read_csv('StormEvents_details-ftp_v1.0_d1995_c20220425.csv',low_memory=False)

In [145]:
df47=pd.read_csv('StormEvents_details-ftp_v1.0_d1996_c20220425.csv',low_memory=False)

In [146]:
df48=pd.read_csv('StormEvents_details-ftp_v1.0_d1997_c20220425.csv',low_memory=False)

In [147]:
df49=pd.read_csv('StormEvents_details-ftp_v1.0_d1998_c20220425.csv',low_memory=False)

In [148]:
df50=pd.read_csv('StormEvents_details-ftp_v1.0_d1999_c20220425.csv',low_memory=False)

In [149]:
df51=pd.read_csv('StormEvents_details-ftp_v1.0_d2000_c20220425.csv',low_memory=False)

In [150]:
df52=pd.read_csv('StormEvents_details-ftp_v1.0_d2001_c20220425.csv',low_memory=False)

In [151]:
df53=pd.read_csv('StormEvents_details-ftp_v1.0_d2002_c20220425.csv',low_memory=False)

In [152]:
df54=pd.read_csv('StormEvents_details-ftp_v1.0_d2003_c20220425.csv',low_memory=False)

In [153]:
df55=pd.read_csv('StormEvents_details-ftp_v1.0_d2004_c20220425.csv',low_memory=False)

In [154]:
df56=pd.read_csv('StormEvents_details-ftp_v1.0_d2005_c20220425.csv',low_memory=False)

In [155]:
df57=pd.read_csv('StormEvents_details-ftp_v1.0_d2006_c20220425.csv', low_memory=False)

In [156]:
df58=pd.read_csv('StormEvents_details-ftp_v1.0_d2007_c20220425.csv',low_memory=False)

In [157]:
df59=pd.read_csv('StormEvents_details-ftp_v1.0_d2008_c20220425.csv',low_memory=False)

In [158]:
df60=pd.read_csv('StormEvents_details-ftp_v1.0_d2009_c20220425.csv',low_memory=False)

In [159]:
df61=pd.read_csv('StormEvents_details-ftp_v1.0_d2010_c20220425.csv',low_memory=False)

In [160]:
df62=pd.read_csv('StormEvents_details-ftp_v1.0_d2011_c20230417.csv',low_memory=False)

In [161]:
df63=pd.read_csv('StormEvents_details-ftp_v1.0_d2012_c20221216.csv',low_memory=False)

In [162]:
df64=pd.read_csv('StormEvents_details-ftp_v1.0_d2013_c20230118.csv',low_memory=False)

In [163]:
df65=pd.read_csv('StormEvents_details-ftp_v1.0_d2014_c20230330.csv',low_memory=False)

In [164]:
df66=pd.read_csv('StormEvents_details-ftp_v1.0_d2015_c20220425.csv',low_memory=False)

In [165]:
df67=pd.read_csv('StormEvents_details-ftp_v1.0_d2016_c20220719.csv',low_memory=False)

In [166]:
df68=pd.read_csv('StormEvents_details-ftp_v1.0_d2017_c20230317.csv',low_memory=False)

In [167]:
df69=pd.read_csv('StormEvents_details-ftp_v1.0_d2018_c20230616.csv',low_memory=False)

In [168]:
df70=pd.read_csv('StormEvents_details-ftp_v1.0_d2019_c20231017.csv',low_memory=False)

In [169]:
df71=pd.read_csv('StormEvents_details-ftp_v1.0_d2020_c20230927.csv',low_memory=False)

In [170]:
df72=pd.read_csv('StormEvents_details-ftp_v1.0_d2021_c20231017.csv',low_memory=False)

In [171]:
df73=pd.read_csv('StormEvents_details-ftp_v1.0_d2022_c20231017.csv',low_memory=False)

### Merging datasets

In [172]:
dftot=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,
                 df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,
                df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,df59,df60,
                df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73], axis=0)

In [173]:
dftot.head(10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40.0,...,0.0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48.0,...,0.0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB
5,195008,29,1600,195008,29,1600,NaN,10104930,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.22,-75.00,NaN,NaN,NaN,NaN,PUB
6,195011,4,1700,195011,4,1700,NaN,10104931,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.20,-76.12,40.27,-76.07,NaN,NaN,PUB
7,195011,4,1730,195011,4,1730,NaN,10104932,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.27,-76.07,40.40,-75.93,NaN,NaN,PUB
8,195009,15,1745,195009,15,1745,NaN,10099490,OKLAHOMA,40.0,...,0.0,NaN,NaN,35.00,-96.25,35.07,-96.17,NaN,NaN,PUB
9,195009,16,130,195009,16,130,NaN,10099491,OKLAHOMA,40.0,...,0.0,NaN,NaN,34.83,-95.85,NaN,NaN,NaN,NaN,PUB

In [174]:
dftot['EVENT_TYPE'].describe().T

count               1794914
unique                   70
top       Thunderstorm Wind
freq                 501183
Name: EVENT_TYPE, dtype: object

In [175]:
dftot['EVENT_TYPE'] = dftot['EVENT_TYPE'].str.title()

#### Flood_Event_Type

In [176]:
dftot_flood = dftot[dftot['EVENT_TYPE'].isin(['Flood'])]

In [177]:
dftot_flood.shape

(62462, 51)

In [178]:
dftot_flood.head(10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
25,199601,24,1200,199601,24,1200,1000569.0,5536059,INDIANA,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"On the 23rd, many areas received around an inc...",NaN,PDC
34,199601,22,700,199601,31,1159,1002242.0,5549485,KENTUCKY,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Snowmelt and heavy rain caused widespread floo...,NaN,PDC
44,199601,26,2330,199601,27,630,2404288.0,5537263,NORTH CAROLINA,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prolonged rain became heavier following the ic...,NaN,PDC
164,199601,22,700,199601,31,1159,1002242.0,5549489,KENTUCKY,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Snowmelt and heavy rain caused widespread floo...,NaN,PDC
189,199601,22,700,199601,31,1159,1002242.0,5549484,KENTUCKY,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Snowmelt and heavy rain caused widespread floo...,NaN,PDC
267,199601,12,1800,199601,12,2100,1013909.0,5561921,NEW JERSEY,34.0,...,NaN,NaN,COUNTYWIDE,NaN,NaN,NaN,NaN,NaN,NaN,PDC
311,199602,18,1,199602,21,1600,2404445.0,5537541,CALIFORNIA,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Heavy rains from the 18th to the 21st, includi...",NaN,PDC
312,199601,12,1800,199601,12,2100,2040562.0,5561922,NEW JERSEY,34.0,...,NaN,NaN,EASTERN PASSAIC,NaN,NaN,NaN,NaN,NaN,NaN,PDC
313,199601,12,1900,199601,12,2100,2040563.0,5561923,CONNECTICUT,9.0,...,NaN,NaN,SOUTHERN FAIRFIELD,NaN,NaN,NaN,NaN,NaN,NaN,PDC
314,199601,12,1900,199601,12,2100,2040564.0,5561924,CONNECTICUT,9.0,...,NaN,NaN,SOUTHERN MIDDLESEX,NaN,NaN,NaN,NaN,NaN,NaN,PDC

### Missing values

In [179]:
missing = dftot_flood.isnull().sum()/dftot_flood.shape[0]*100
missing

BEGIN_YEARMONTH         0.000000
BEGIN_DAY               0.000000
BEGIN_TIME              0.000000
END_YEARMONTH           0.000000
END_DAY                 0.000000
END_TIME                0.000000
EPISODE_ID              0.000000
EVENT_ID                0.000000
STATE                   0.000000
STATE_FIPS              0.000000
YEAR                    0.000000
MONTH_NAME              0.000000
EVENT_TYPE              0.000000
CZ_TYPE                 0.000000
CZ_FIPS                 0.000000
CZ_NAME                 0.000000
WFO                     0.000000
BEGIN_DATE_TIME         0.000000
CZ_TIMEZONE             0.000000
END_DATE_TIME           0.000000
INJURIES_DIRECT         0.000000
INJURIES_INDIRECT       0.000000
DEATHS_DIRECT           0.000000
DEATHS_INDIRECT         0.000000
DAMAGE_PROPERTY        23.473472
DAMAGE_CROPS           30.596202
SOURCE                  8.774935
MAGNITUDE              99.980788
MAGNITUDE_TYPE        100.000000
FLOOD_CAUSE            33.894208
CATEGORY              100.000000
TOR_F_SCALE           100.000000
TOR_LENGTH            100.000000
TOR_WIDTH             100.000000
TOR_OTHER_WFO         100.000000
TOR_OTHER_CZ_STATE    100.000000
TOR_OTHER_CZ_FIPS     100.000000
TOR_OTHER_CZ_NAME     100.000000
BEGIN_RANGE            33.112933
BEGIN_AZIMUTH          33.112933
BEGIN_LOCATION         26.937978
END_RANGE              33.112933
END_AZIMUTH            33.112933
END_LOCATION           26.937978
BEGIN_LAT              31.185361
BEGIN_LON              31.185361
END_LAT                31.185361
END_LON                31.185361
EPISODE_NARRATIVE       8.947840
EVENT_NARRATIVE        29.654830
DATA_SOURCE             0.000000
dtype: float64

### Cleaning missing values on variables linked with flood

In [180]:
dftot_flood_cleaned=dftot_flood.dropna(subset = ['DAMAGE_PROPERTY','DAMAGE_CROPS','EPISODE_NARRATIVE','FLOOD_CAUSE',
                           'EVENT_NARRATIVE','BEGIN_RANGE','BEGIN_LOCATION','BEGIN_LON'])

In [181]:
dftot_flood_cleaned.shape

(38398, 51)

In [182]:
dftot_flood_cleaned.isnull().sum()/dftot_flood_cleaned.shape[0]*100

BEGIN_YEARMONTH         0.0
BEGIN_DAY               0.0
BEGIN_TIME              0.0
END_YEARMONTH           0.0
END_DAY                 0.0
END_TIME                0.0
EPISODE_ID              0.0
EVENT_ID                0.0
STATE                   0.0
STATE_FIPS              0.0
YEAR                    0.0
MONTH_NAME              0.0
EVENT_TYPE              0.0
CZ_TYPE                 0.0
CZ_FIPS                 0.0
CZ_NAME                 0.0
WFO                     0.0
BEGIN_DATE_TIME         0.0
CZ_TIMEZONE             0.0
END_DATE_TIME           0.0
INJURIES_DIRECT         0.0
INJURIES_INDIRECT       0.0
DEATHS_DIRECT           0.0
DEATHS_INDIRECT         0.0
DAMAGE_PROPERTY         0.0
DAMAGE_CROPS            0.0
SOURCE                  0.0
MAGNITUDE             100.0
MAGNITUDE_TYPE        100.0
FLOOD_CAUSE             0.0
CATEGORY              100.0
TOR_F_SCALE           100.0
TOR_LENGTH            100.0
TOR_WIDTH             100.0
TOR_OTHER_WFO         100.0
TOR_OTHER_CZ_STATE    100.0
TOR_OTHER_CZ_FIPS     100.0
TOR_OTHER_CZ_NAME     100.0
BEGIN_RANGE             0.0
BEGIN_AZIMUTH           0.0
BEGIN_LOCATION          0.0
END_RANGE               0.0
END_AZIMUTH             0.0
END_LOCATION            0.0
BEGIN_LAT               0.0
BEGIN_LON               0.0
END_LAT                 0.0
END_LON                 0.0
EPISODE_NARRATIVE       0.0
EVENT_NARRATIVE         0.0
DATA_SOURCE             0.0
dtype: float64

In [183]:
dftot_flood_cleaned.head(10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
48621,200610,28,1400,200610,28,1630,544.0,2161,MASSACHUSETTS,25.0,...,0.0,N,BOSTON,42.32,-71.07,42.32,-71.07,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported throug...,CSV
48661,200611,16,2000,200611,16,2200,836.0,4734,NEW YORK,36.0,...,0.0,N,LITTLE FALLS,43.05,-74.87,43.05,-74.87,A low pressure system developed over the lower...,Flooding caused road closures on Route 5 near ...,CSV
48662,200611,16,2349,200611,17,528,836.0,3709,NEW YORK,36.0,...,9.0,NW,ST JOHNSVILLE,43.09,-74.54,43.09,-74.54,A low pressure system developed over the lower...,The Mohawk River at Little Falls exceeded its ...,CSV
48663,200611,17,503,200611,17,1356,836.0,3718,NEW YORK,36.0,...,0.0,N,TRIBES HILL,42.95,-74.30,42.95,-74.30,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...,CSV
48664,200611,17,503,200611,17,1356,836.0,3720,NEW YORK,36.0,...,17.0,NW,SCHENECTADY,42.97,-73.68,42.97,-73.68,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...,CSV
48688,200610,28,1500,200610,28,1700,546.0,2189,CONNECTICUT,9.0,...,0.0,N,WILLIMANTIC,41.72,-72.22,41.72,-72.22,Significant urban flooding impacted Windham Co...,Significant urban flooding was reported in and...,CSV
48689,200610,28,1400,200610,28,1630,544.0,2162,MASSACHUSETTS,25.0,...,0.0,N,TAUNTON,41.90,-71.10,41.90,-71.10,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported in Tau...,CSV
48728,200611,17,700,200611,18,2130,836.0,3741,NEW YORK,36.0,...,4.0,W,GRANT,43.32,-74.97,43.32,-74.97,A low pressure system developed over the lower...,The West Canada Creek at Hinckley exceeded its...,CSV
48733,200612,14,700,200612,14,1500,1893.0,9312,OREGON,41.0,...,0.0,N,TILLAMOOK,45.45,-123.85,45.45,-123.85,A series of very wet Pacific storms brought si...,The Wilson River near Tillamook crested at 12....,CSV
48734,200612,14,700,200612,15,1500,1893.0,9313,OREGON,41.0,...,0.0,N,BATTERSON,45.73,-123.75,45.73,-123.75,A series of very wet Pacific storms brought si...,The Nehalem River near Foss was above flood st...,CSV

In [184]:
dftot_flood_cleaned = dftot_flood_cleaned.reset_index(drop=True)

In [185]:
dftot_flood_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38398 entries, 0 to 38397
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BEGIN_YEARMONTH     38398 non-null  int64
 1   BEGIN_DAY           38398 non-null  int64
 2   BEGIN_TIME          38398 non-null  int64
 3   END_YEARMONTH       38398 non-null  int64
 4   END_DAY             38398 non-null  int64
 5   END_TIME            38398 non-null  int64
 6   EPISODE_ID          38398 non-null  float64
 7   EVENT_ID            38398 non-null  int64
 8   STATE               38398 non-null  object
 9   STATE_FIPS          38398 non-null  float64
 10  YEAR                38398 non-null  int64
 11  MONTH_NAME          38398 non-null  object
 12  EVENT_TYPE          38398 non-null  object
 13  CZ_TYPE             38398 non-null  object
 14  CZ_FIPS             38398 non-null  int64
 15  CZ_NAME             38398 non-null  object
 16  WFO                 38398 non-null  object
 17  BEGIN_DATE_TIME     38398 non-null  object
 18  CZ_TIMEZONE         38398 non-null  object
 19  END_DATE_TIME       38398 non-null  object
 20  INJURIES_DIRECT     38398 non-null  int64
 21  INJURIES_INDIRECT   38398 non-null  int64
 22  DEATHS_DIRECT       38398 non-null  int64
 23  DEATHS_INDIRECT     38398 non-null  int64
 24  DAMAGE_PROPERTY     38398 non-null  object
 25  DAMAGE_CROPS        38398 non-null  object
 26  SOURCE              38398 non-null  object
 27  MAGNITUDE           0 non-null      float64
 28  MAGNITUDE_TYPE      0 non-null      object
 29  FLOOD_CAUSE         38398 non-null  object
 30  CATEGORY            0 non-null      float64
 31  TOR_F_SCALE         0 non-null      object
 32  TOR_LENGTH          0 non-null      float64
 33  TOR_WIDTH           0 non-null      float64
 34  TOR_OTHER_WFO       0 non-null      object
 35  TOR_OTHER_CZ_STATE  0 non-null      object
 36  TOR_OTHER_CZ_FIPS   0 non-null      float64
 37  TOR_OTHER_CZ_NAME   0 non-null      object
 38  BEGIN_RANGE         38398 non-null  float64
 39  BEGIN_AZIMUTH       38398 non-null  object
 40  BEGIN_LOCATION      38398 non-null  object
 41  END_RANGE           38398 non-null  float64
 42  END_AZIMUTH         38398 non-null  object
 43  END_LOCATION        38398 non-null  object
 44  BEGIN_LAT           38398 non-null  float64
 45  BEGIN_LON           38398 non-null  float64
 46  END_LAT             38398 non-null  float64
 47  END_LON             38398 non-null  float64
 48  EPISODE_NARRATIVE   38398 non-null  object
 49  EVENT_NARRATIVE     38398 non-null  object
 50  DATA_SOURCE         38398 non-null  object
dtypes: float64(13), int64(13), object(25)
memory usage: 14.9+ MB

### Flood dataset with selected variables

In [186]:
flood_dataset=dftot_flood_cleaned[['EVENT_ID','BEGIN_DATE_TIME','END_DATE_TIME','STATE','STATE_FIPS','EVENT_TYPE','CZ_TYPE','CZ_FIPS',
                                   'CZ_NAME','WFO','CZ_TIMEZONE','INJURIES_DIRECT','INJURIES_INDIRECT','DEATHS_DIRECT',
                                   'DEATHS_INDIRECT','DAMAGE_PROPERTY','DAMAGE_CROPS','SOURCE','FLOOD_CAUSE','BEGIN_RANGE',
                                   'BEGIN_AZIMUTH','BEGIN_LOCATION','END_RANGE','END_AZIMUTH','END_LOCATION','BEGIN_LAT',
                                   'BEGIN_LON','END_LAT','END_LON','EPISODE_NARRATIVE','EVENT_NARRATIVE']]

### Monetary Conversion of Text Amounts

In [187]:
# Define a function to convert strings to numbers
def convert_to_number(x):
    # If x is empty, return 0
    if x == "":
        return 0
    # If x ends with K, multiply by 1000
    elif x[-1] == "K":
        return float(x[:-1]) * 1000
    # If x ends with M, multiply by 1000000
    elif x[-1] == "M":
        return float(x[:-1]) * 1000000
    # If x ends with B, multiply by 1000000000
    elif x[-1] == "B":
        return float(x[:-1]) * 1000000000    
    # Otherwise, return x as a float
    else:
        return float(x)

flood_df=flood_dataset.copy()    
# Apply the function to the columns "DAMAGE_PROPERTY" and "DAMAGE_CROPS"
flood_df.loc[:,"DAMAGE_PROPERTY"] = flood_df.loc[:,"DAMAGE_PROPERTY"].apply(convert_to_number)
flood_df.loc[:,"DAMAGE_CROPS"] = flood_df.loc[:,"DAMAGE_CROPS"].apply(convert_to_number)

In [189]:
flood_df.head(10)

,EVENT_ID,BEGIN_DATE_TIME,END_DATE_TIME,STATE,STATE_FIPS,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,...,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE
0,2161,28-OCT-06 14:00:00,28-OCT-06 16:30:00,MASSACHUSETTS,25.0,Flood,County,25,SUFFOLK,BOX,...,BOSTON,0.0,N,BOSTON,42.32,-71.07,42.32,-71.07,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported throug...
1,4734,16-NOV-06 20:00:00,16-NOV-06 22:00:00,NEW YORK,36.0,Flood,County,43,HERKIMER,ALY,...,LITTLE FALLS,0.0,N,LITTLE FALLS,43.05,-74.87,43.05,-74.87,A low pressure system developed over the lower...,Flooding caused road closures on Route 5 near ...
2,3709,16-NOV-06 23:49:00,17-NOV-06 05:28:00,NEW YORK,36.0,Flood,County,57,MONTGOMERY,ALY,...,ST JOHNSVILLE,9.0,NW,ST JOHNSVILLE,43.09,-74.54,43.09,-74.54,A low pressure system developed over the lower...,The Mohawk River at Little Falls exceeded its ...
3,3718,17-NOV-06 05:03:00,17-NOV-06 13:56:00,NEW YORK,36.0,Flood,County,57,MONTGOMERY,ALY,...,TRIBES HILL,0.0,N,TRIBES HILL,42.95,-74.30,42.95,-74.30,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...
4,3720,17-NOV-06 05:03:00,17-NOV-06 13:56:00,NEW YORK,36.0,Flood,County,93,SCHENECTADY,ALY,...,SCHENECTADY,17.0,NW,SCHENECTADY,42.97,-73.68,42.97,-73.68,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...
5,2189,28-OCT-06 15:00:00,28-OCT-06 17:00:00,CONNECTICUT,9.0,Flood,County,15,WINDHAM,BOX,...,WILLIMANTIC,0.0,N,WILLIMANTIC,41.72,-72.22,41.72,-72.22,Significant urban flooding impacted Windham Co...,Significant urban flooding was reported in and...
6,2162,28-OCT-06 14:00:00,28-OCT-06 16:30:00,MASSACHUSETTS,25.0,Flood,County,5,BRISTOL,BOX,...,TAUNTON,0.0,N,TAUNTON,41.90,-71.10,41.90,-71.10,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported in Tau...
7,3741,17-NOV-06 07:00:00,18-NOV-06 21:30:00,NEW YORK,36.0,Flood,County,43,HERKIMER,ALY,...,GRANT,4.0,W,GRANT,43.32,-74.97,43.32,-74.97,A low pressure system developed over the lower...,The West Canada Creek at Hinckley exceeded its...
8,9312,14-DEC-06 07:00:00,14-DEC-06 15:00:00,OREGON,41.0,Flood,County,57,TILLAMOOK,PQR,...,TILLAMOOK,0.0,N,TILLAMOOK,45.45,-123.85,45.45,-123.85,A series of very wet Pacific storms brought si...,The Wilson River near Tillamook crested at 12....
9,9313,14-DEC-06 07:00:00,15-DEC-06 15:00:00,OREGON,41.0,Flood,County,57,TILLAMOOK,PQR,...,BATTERSON,0.0,N,BATTERSON,45.73,-123.75,45.73,-123.75,A series of very wet Pacific storms brought si...,The Nehalem River near Foss was above flood st...

In [190]:
flood_df.iloc[:,0:10].head(10)

,EVENT_ID,BEGIN_DATE_TIME,END_DATE_TIME,STATE,STATE_FIPS,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO
0,2161,28-OCT-06 14:00:00,28-OCT-06 16:30:00,MASSACHUSETTS,25.0,Flood,County,25,SUFFOLK,BOX
1,4734,16-NOV-06 20:00:00,16-NOV-06 22:00:00,NEW YORK,36.0,Flood,County,43,HERKIMER,ALY
2,3709,16-NOV-06 23:49:00,17-NOV-06 05:28:00,NEW YORK,36.0,Flood,County,57,MONTGOMERY,ALY
3,3718,17-NOV-06 05:03:00,17-NOV-06 13:56:00,NEW YORK,36.0,Flood,County,57,MONTGOMERY,ALY
4,3720,17-NOV-06 05:03:00,17-NOV-06 13:56:00,NEW YORK,36.0,Flood,County,93,SCHENECTADY,ALY
5,2189,28-OCT-06 15:00:00,28-OCT-06 17:00:00,CONNECTICUT,9.0,Flood,County,15,WINDHAM,BOX
6,2162,28-OCT-06 14:00:00,28-OCT-06 16:30:00,MASSACHUSETTS,25.0,Flood,County,5,BRISTOL,BOX
7,3741,17-NOV-06 07:00:00,18-NOV-06 21:30:00,NEW YORK,36.0,Flood,County,43,HERKIMER,ALY
8,9312,14-DEC-06 07:00:00,14-DEC-06 15:00:00,OREGON,41.0,Flood,County,57,TILLAMOOK,PQR
9,9313,14-DEC-06 07:00:00,15-DEC-06 15:00:00,OREGON,41.0,Flood,County,57,TILLAMOOK,PQR

In [191]:
flood_df.iloc[:,10:20].head(10)

,CZ_TIMEZONE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,FLOOD_CAUSE,BEGIN_RANGE
0,EST-5,0,0,0,0,8000.0,0.0,Broadcast Media,Heavy Rain,0.0
1,EST-5,0,0,0,0,0.0,0.0,Law Enforcement,Heavy Rain,0.0
2,EST-5,0,0,0,0,0.0,0.0,Other Federal Agency,Heavy Rain,9.0
3,EST-5,0,0,0,0,0.0,0.0,Other Federal Agency,Heavy Rain,0.0
4,EST-5,0,0,0,0,0.0,0.0,Other Federal Agency,Heavy Rain,17.0
5,EST-5,0,0,0,0,2000.0,0.0,Newspaper,Heavy Rain,0.0
6,EST-5,0,0,0,0,5000.0,0.0,Trained Spotter,Heavy Rain,0.0
7,EST-5,0,0,0,0,0.0,0.0,Other Federal Agency,Heavy Rain,4.0
8,PST-8,0,0,0,0,0.0,0.0,Official NWS Observations,Heavy Rain,0.0
9,PST-8,0,0,0,0,0.0,0.0,Official NWS Observations,Heavy Rain,0.0

In [192]:
flood_df.iloc[:,20:31].head(10)

,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE
0,N,BOSTON,0.0,N,BOSTON,42.32,-71.07,42.32,-71.07,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported throug...
1,N,LITTLE FALLS,0.0,N,LITTLE FALLS,43.05,-74.87,43.05,-74.87,A low pressure system developed over the lower...,Flooding caused road closures on Route 5 near ...
2,NW,ST JOHNSVILLE,9.0,NW,ST JOHNSVILLE,43.09,-74.54,43.09,-74.54,A low pressure system developed over the lower...,The Mohawk River at Little Falls exceeded its ...
3,N,TRIBES HILL,0.0,N,TRIBES HILL,42.95,-74.30,42.95,-74.30,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...
4,NW,SCHENECTADY,17.0,NW,SCHENECTADY,42.97,-73.68,42.97,-73.68,A low pressure system developed over the lower...,The Mohawk River at Tribes Hill exceeded its f...
5,N,WILLIMANTIC,0.0,N,WILLIMANTIC,41.72,-72.22,41.72,-72.22,Significant urban flooding impacted Windham Co...,Significant urban flooding was reported in and...
6,N,TAUNTON,0.0,N,TAUNTON,41.90,-71.10,41.90,-71.10,Low pressure intensified rapidly as it tracked...,Significant urban flooding was reported in Tau...
7,W,GRANT,4.0,W,GRANT,43.32,-74.97,43.32,-74.97,A low pressure system developed over the lower...,The West Canada Creek at Hinckley exceeded its...
8,N,TILLAMOOK,0.0,N,TILLAMOOK,45.45,-123.85,45.45,-123.85,A series of very wet Pacific storms brought si...,The Wilson River near Tillamook crested at 12....
9,N,BATTERSON,0.0,N,BATTERSON,45.73,-123.75,45.73,-123.75,A series of very wet Pacific storms brought si...,The Nehalem River near Foss was above flood st...

In [193]:
flood_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
EVENT_ID,38398,NaN,NaN,NaN,582043,293802,350,320257,641838,814380,1.09551e+06
BEGIN_DATE_TIME,38398,27478,01-JUN-19 00:00:00,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN
END_DATE_TIME,38398,25667,31-MAY-19 23:59:00,191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE,38398,54,VIRGINIA,2581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE_FIPS,38398,NaN,NaN,NaN,30.8093,17.7727,1,19,29,42,99
EVENT_TYPE,38398,1,Flood,38398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CZ_TYPE,38398,1,County,38398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CZ_FIPS,38398,NaN,NaN,NaN,88.1479,82.9329,1,29,71,127,840
CZ_NAME,38398,1754,WASHINGTON,469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WFO,38398,121,LWX,3289,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CZ_TIMEZONE,38398,8,EST-5,16548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INJURIES_DIRECT,38398,NaN,NaN,NaN,0.0027866,0.0930848,0,0,0,0,10
INJURIES_INDIRECT,38398,NaN,NaN,NaN,0.00132819,0.0843099,0,0,0,0,13
DEATHS_DIRECT,38398,NaN,NaN,NaN,0.0105995,0.13643,0,0,0,0,10
DEATHS_INDIRECT,38398,NaN,NaN,NaN,0.00148445,0.0447567,0,0,0,0,3
DAMAGE_PROPERTY,38398,NaN,NaN,NaN,702996,2.1113e+07,0,0,0,1000,2e+09
DAMAGE_CROPS,38398,NaN,NaN,NaN,90666.2,3.11265e+06,0,0,0,0,5e+08
SOURCE,38398,33,River/Stream Gage,8333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLOOD_CAUSE,38398,7,Heavy Rain,32799,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEGIN_RANGE,38398,NaN,NaN,NaN,2.47898,5.55599,0,1,1,3,178
BEGIN_AZIMUTH,38398,16,N,7507,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEGIN_LOCATION,38398,13022,AUGUSTA,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
END_RANGE,38398,NaN,NaN,NaN,2.6056,5.49776,0,1,1,3,157
END_AZIMUTH,38398,16,N,3899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
END_LOCATION,38398,13534,SAN JUAN,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEGIN_LAT,38398,NaN,NaN,NaN,38.7446,5.01552,13.2555,36.9558,38.9271,41.7352,66.8385
BEGIN_LON,38398,NaN,NaN,NaN,-89.3608,13.6244,-166.512,-95.4795,-87.8509,-79.8701,144.833
END_LAT,38398,NaN,NaN,NaN,38.727,5.00696,13.2567,36.9521,38.9237,41.726,66.8329
END_LON,38398,NaN,NaN,NaN,-89.346,13.6219,-166.537,-95.4741,-87.8436,-79.8652,144.88
EPISODE_NARRATIVE,38398,10895,Heavy rain on saturated soils during the eveni...,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EVENT_NARRATIVE,38398,36411,See the event episode narrative for details.,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Download dataset

In [194]:
flood_df.to_csv('flood_dataset.csv', index='False')